.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  /* Navigation bar background color */
}

.nav-links li {
  position: relative; /* Positioning for drop-down menus */
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  padding: 10px 15px;
  color: #000;
  display: block;
}

.nav-links .dropdown {
  position: relative; /* Ensure submenus are positioned relative to the parent */
}

.nav-links .dropdown-content {
  display: none; /* Hide drop-down menus by default */
  position: absolute;
  top: 100%; /* Placed below the home button */
  left: 0;
  background-color: #444; /* Dropdown menu background color */
  min-width: 150px;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
}

.nav-links .dropdown-content li a {
  color: #fff; /* Dropdown menu text color */
  padding: 10px 15px;
  text-decoration: none;
}

.nav-links .dropdown-content li a:hover {
  background-color: #555; /* hover effect */
}

/* Hover to show submenu */
.nav-links .dropdown:hover .dropdown-content {
  display: block; /* Show menu on hover  */
}
